header.h1{
    font-weight: 700;
    font-size: 24px;
}
.scarecrow{
    float: left;
    display: flex;
    position: absolute;
    bottom: 34.03%;
    width: 539.22px;
    height: 447.43px;
    top: 265px;
    left: 77px;

    
}
.scarecrow img{
    width: 463.52px;
    height: 414.25px;
}

.massage{
    float: right;
    width: 50%;
    
}
.massage p1{

    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;
    position: absolute;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}
.massage p{
    
   
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;
    position: absolute;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    
}
.massage button{
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    font-family:"Space Mono"; 
    color:  #FFFFFF;
    background: #333333;
}


.not-found{
    position: absolute;
width: 133px;
height: 25px;
left: 77px;
top: 40px;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;

color: #333333;
}
footer{
position: absolute;
width: 287px;
height: 17px;
left: 577px;
top: 760px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;


text-align: center;
color: #BDBDBD;
}


  
 
@media only screen and (max-width:600px){
    .scarecrow {
      width: 80%;
      height: auto;
      position: relative;
      float: none;
      display: block;
      margin-bottom: 30px;
      padding-bottom: 50px;
    }
  
    .scarecrow img {
      width: 100%;
      height: auto;
    }
  
    .massage {
      width: 100%;
     
      float: none;
      margin: 0 auto;
      text-align: center;
    }
  
    .massage p1,
    .massage p {
      width: 100%;
      
      left: auto;
      top: auto;
      position: static;
      font-size: 48px;
      line-height: 72px;
    }
  
    .massage button {
      left: auto;
     
      top: auto;
      right: 0;
      bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .center{
        display: block;
        padding: 200px;
    }
  }
  